@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

html, body {
  padding: 0;
  margin: 0;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
